.portada{
    margin: 0;
    padding: 0;
    width: 100%;
}
.portadaBajo{
    margin: 0;
    margin-top: -5%;
    padding: 0;
    width: 100%;
}
.ImagenesInicio{
    padding: 5%;
}
.info{
    
    padding-left: 8%;
    padding-right: 8%;
}

.scroll-arreglado{
    overflow-y: hidden;
}