.Logo{
    border-radius: 20%;
    margin-left: 30px;
}
.bg-negro{
    background-color: #000000;
    color: #fff;
}
.bg-blanco{
    background-color: #FFFFFF;
}
.imgToggle
{
    width: 25px;
    border-radius: 0%;
    margin-left: 0px;
}
.opcionesMenu{
    margin-left: 50;
    margin-right: 50;
}

.redes {
    color: #FFFFFF;
}
.redes:hover {
    color: #40D1FA;
}
.opcMenu{
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px;
}
.opcMenu:hover{
    color: #40D1FA;
}
.active{
    color: #40D1FA;
    text-decoration: underline;
}